@import "tailwindcss";


.body-font{
  font-family: 'Arial Rounded MT Bold', sans-serif;
}

/* .dark {
  --background: #1f49a3;  
  --foreground: #f9fafb;  
  --accent: #f472b6;      
} */

/* .bg-light{
  @apply bg-[#F8F8F8];
}

.bg-dark{
  @apply bg-[#1F2937];
}
*/
.text-format{
  @apply bg-gradient-to-l from-green-800 to-[#97B067] bg-clip-text;
}
.darktext{
  @apply text-pink-400;
} 

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.6s ease-out forwards;
}
