@import "tailwindcss";


.body-font{
  font-family: 'Arial Rounded MT Bold', sans-serif;
}

/* .dark {
  --background: #1f49a3;  
  --foreground: #f9fafb;  
  --accent: #f472b6;      
} */

/* .bg-light{
  @apply bg-[#F8F8F8];
}

.bg-dark{
  @apply bg-[#1F2937];
}
*/
.text-format{
  @apply bg-gradient-to-l from-[#335141] to-[#97B067] bg-clip-text;
}
.darktext{
  @apply text-pink-400;
} 